@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 34px;
}

.mostvisitedContainer {
  max-width: 330px;
  height: 100%;
  width: 330px;
  float: left;
}

.header .text-muted {
  padding: .4em .8em;
}
.header .text-muted span:hover {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  -webkit-filter: url(#blurLogo);
  filter: url(#blurLogo);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
.header .text-muted span span.bl {
  font-weight: 400;
  -webkit-animation: blur 5s ease infinite;
  animation: blur 5s ease infinite;
}
.header .text-muted .starter {
  float: right;
  line-height: 2.5;
  color: #17a689;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 30;
  top: 0;
  height: 100%;
  width: 300px;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
}

.sidebar h1 {
  padding: .5em;
  color: #29eac6;
  font-weight: bold;

}

.sidebar ol {
  padding: 0;
  margin: 0;
}
.sidebar ol li {
  width: 90%;
  margin: 5px 10px;
  float: left;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  font-family: 'Arimo';
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #1abc9c;
  background: #b3e8de;
  color: #f3f3f3;
}
.sidebar ol li a {
  color: white;
}
.sidebar ol li:hover {
  background: #17a689;
  border-color: #17a689;
}

.nav li:hover a {
  background: transparent;
}
.nav li:hover a span {
  background: #b3e8de;
  color: #f3f3f3;
}
.nav li a {
  color: #17a689;
  line-height: 3;
}
.nav li a.active span {
  background: #1abc9c;
  color: #b3e8de;
}
.nav li a span {
  -webkit-box-shadow: inset 0 0 0 0.1em #1abc9c;
  box-shadow: inset 0 0 0 0.1em #1abc9c;
  font-size: 1.6em;
  padding: .2em .4em;
  height: 30px !important;
  border-radius: 3px;
}
